<div mat-dialog-content class="add__movieModal">
  <div class="add__wrap">
    <div>
      <div class="add__textWrap">
        <input
          [(ngModel)]="title"
          class="add__input"
          type="text"
          placeholder="Add title.."
        />
        <span>Title:{{ title }}</span>
      </div>
      <div class="add__textWrap">
        <input
          [(ngModel)]="rating"
          class="add__input"
          type="text"
          placeholder="Add rating.."
        />
        <span>Rating:{{ rating }}</span>
      </div>
    </div>
    <div>
      <div class="add__textWrap">
        <input
          [(ngModel)]="genred"
          class="add__input"
          type="text"
          placeholder="Add ganre.."
        />
        <span>Ganre:{{ genred }}</span>
      </div>
      <div class="add__textWrap">
        <input
          [(ngModel)]="runTime"
          class="add__input"
          type="text"
          placeholder="Add run time.."
        />
        <span>Run time:{{ runTime }}</span>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="add__buttons">
    <button
      class="add__button"
      mat-button
      [mat-dialog-close]="data.animal"
      cdkFocusInitial
    >
      Save
    </button>
  </div>
</div>
