.content {
  width: 100%;
  background: #edeff0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content__section {
  width: 210px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.paggination {
  padding-top: 50px;
}
.delete__button {
  z-index: 10;
}
