<header class="header">
  <div class="header__textWrap">
    <div class="header__text">
      <span>m</span>
      <div class="header__textIcon"><img src="img/iconPlay.png" /></div>
      <span>vie store</span>
    </div>
  </div>
  <div class="header__menu">
    <div id="btnCategoties" class="header__categories">Categories</div>
    <div class="header__novetle">New Films</div>
  </div>
  <div class="header__search">
    <input class="header__searchInp" placeholder="Search..." />
  </div>
</header>
