<section mat-dialog-content class="player__modal">
  <button
    mat-button
    (click)="onNoClick()"
    type="button"
    class="playerModal__close"
  >
    Close
  </button>
  <div class="player__container">
    <img
      mat-dialog-title
      class="player__img"
      src="{{ data.srcImage }}"
      alt="img"
    />
  </div>
  <div class="player__options">
    <div class="player__description--flex">
      <div mat-dialog-title class="player__movieTitle">{{ data.TitleAlt }}</div>
      <div mat-dialog-title class="player__movieRating">
        RunTime: {{ data.RunTime }}
      </div>
      <div mat-dialog-title class="player__movieGanres">
        Genred:{{ data.Genred }}
      </div>
      <div mat-dialog-title class="player__movieDescription">
        Description:{{ data.Description }}
      </div>
    </div>
  </div>
</section>

<!-- <h1 mat-dialog-title>Hi {{ data.Title }}</h1>
<div mat-dialog-content>
  s
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>
    Ok
  </button>
</div> -->
