<header class="header">
  <div (click)="refreshPage()" class="header__textWrap">
    <div class="header__text">
      <div class="header__text--flex">
        <span>m</span>
        <div class="header__textIcon">
          <img src="assets/img/iconPlay.png" />
        </div>
        <span>vie</span>
      </div>
      <span> store</span>
    </div>
  </div>
  <div class="header__menu">
    <mat-form-field>
      <mat-label class="header__select">Categories</mat-label>
      <mat-select
        class="header__select"
        (selectionChange)="selectGenre($event.value)"
      >
        <mat-option *ngFor="let ganre of ganres" [(value)]="ganre.Genred">
          {{ ganre.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</header>
