<div
  mat-raised-button
  (click)="openDialog()"
  class="content__section content__sectionNew"
>
  <div class="content__imgWrap">
    <img class="content__img" src="{{ oneMovie.srcImage }}" alt="img" />
  </div>
  <div class="content__info">
    <div class="content__info--flex">
      <div class="content__title">{{ oneMovie.TitleAlt }}</div>
      <div class="content__likes content--padding">
        <img src="assets/img/iconLikes.png" alt="icon" /><span>3632</span>
      </div>
      <div class="content__coments content--padding">
        <img src="assets/img/iconComments.png" alt="icon" /><span>221</span>
      </div>
      <div class="content__rating">Ganre: {{ oneMovie.Genred }}</div>
      <div class="content__date">RunTime: {{ oneMovie.RunTime }}</div>
    </div>
  </div>
</div>
