<section mat-dialog-content class="player__modal">
  <button
    mat-button
    (click)="onNoClick()"
    type="button"
    class="playerModal__close playerModal__close--button"
  >
    Close
  </button>
  <button
    class="player__deleteButton playerModal__close--button"
    (click)="deleteContent(movie)"
  >
    Delete
  </button>
  <div class="player__wrap">
    <div class="player__container">
      <img
        mat-dialog-title
        class="player__img"
        src="{{ data.srcImage }}"
        alt="img"
      />
    </div>
    <div class="player__options">
      <div class="player__description--flex">
        <div mat-dialog-title class="player__movieTitle">
          {{ data.TitleAlt }}
        </div>
        <div mat-dialog-title class="player__movieRating">
          RunTime: {{ data.RunTime }}
        </div>
        <div mat-dialog-title class="player__movieGanres">
          Genred:{{ data.Genred }}
        </div>
        <div mat-dialog-title class="player__movieDescription">
          Description:{{ data.Description }}
        </div>
      </div>
    </div>
  </div>
</section>
